#header{
	padding:30px;
	border-style: solid;
}


body{
	font-family: 'calibri';
	padding:26px;
}


#form ul{

	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	list-style: none;
	padding:30px;
	background-image:url(../images/the-deep.jpg);
	font-family: 'calibri'; 
	border-radius: 
	
}

#field1{
	border-radius: 3em;
}


.wrapper{
  margin:20px;
  padding:30px;
  width:100%;
  width:1200px;
  height:1000px;

}

.button{

}

a:hover{
  color:gray;
}
